<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Tareas Registradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <!-- Lista de tareas registradas -->
  <ion-list>
    <ion-item (dblclick)="presentActionSheet(tarea.id)" *ngFor="let tarea of tareas" lines="full">
      <ion-label>
        <h2>{{ tarea.descripcion }}</h2>
        <p>Fecha de Vencimiento: {{ tarea.fechaVencimiento | date: 'mediumDate' }}</p>
        <!-- Puedes agregar más detalles de la tarea según necesites -->
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botón flotante para abrir el formulario de registro de tarea -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="abrirFormularioTarea()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>





























