<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Metas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <!-- Utilizamos un ion-card para cada meta para darle un aspecto más estilizado -->
  <ion-list>
    <ion-card *ngFor="let meta of metas">
      <ion-card-header>
        <ion-card-title>{{ meta.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ meta.descripcion }}</p>
        <ion-note>Completado: {{ meta.porcentajeCompletado }}%</ion-note>
        <!-- Podemos agregar un ion-progress-bar para visualizar el progreso -->
        <ion-progress-bar value="{{ meta.porcentajeCompletado / 100 }}"></ion-progress-bar>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Botón para agregar metas, utilizando un icono representativo -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="mostrarFormularioMeta()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>



<!--<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Metas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list>
   
    <ion-item *ngFor="let meta of metas">
      <ion-label>
        <h2>{{ meta.nombre }}</h2>
        <p>{{ meta.descripcion }}</p>
       
        <ion-note>Completado: {{ meta.porcentajeCompletado }}%</ion-note>
      </ion-label>
    </ion-item>
  </ion-list>

 
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="mostrarFormularioMeta()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>-->

